<!-- Редактирование задачи -->
<!-- Диалоговое окно состоит из двух частей:
     - контента (mat-dialog-content)
     - действий-кнопок (mat-dialog-actions) -->
<mat-dialog-content>

  <!-- Заголовок диалогового окна -->
  <h1 mat-dialog-title>{{this.getDialogTitle}}</h1>

  <!-- Форма для ввода текста задачи -->
  <mat-form-field appearance="fill">
    <mat-label>Enter title</mat-label>
    <!-- Двухстороннее связывание:  [(ngModel)] -->
    <!-- Сначала отображаются данные, которые уже были -->
    <!-- Потом считываются и сохраняются новые данные, которые пользователь ввел -->
    <input
      #inputTitle
      matInput
      required
      placeholder="Do homework"
      [(ngModel)]="newTitle"
      [disabled]="task.completed != null && task.completed !== 0"
      (keydown.enter)="onConfirm()"> <!-- По нажатию на Enter - сохранить задачу -->

    <button
      *ngIf="newTitle && newTitle.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="newTitle= ''" class="dialog-todo-title">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>


  <!-- Форма для выбора категории задачи -->
  <mat-form-field appearance="fill">
    <!-- Подпись -->
    <mat-label>Choose category</mat-label>
    <!-- Выпадающий список -->
    <!-- если задача завершена - контрол не будет доступен -->
    <mat-select [(value)]="newCategoryId" [disabled]="task.completed != null && task.completed !== 0">
      <mat-option [value]="null">Without category</mat-option>
      <mat-option *ngFor="let cat of getCategories" [value]="cat.id">
        {{cat.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <!-- Форма для выбора приоритета задачи -->
  <mat-form-field appearance="fill">
    <!-- Подпись -->
    <mat-label>Choose priority</mat-label>
    <!-- Выпадающий список -->
    <!-- если задача завершена - контрол не будет доступен -->
    <mat-select [(value)]="newPriorityId" [disabled]="task.completed != null && task.completed !== 0">
      <mat-option [value]="null">Without priority</mat-option>
      <mat-option *ngFor="let prior of getPriorities" [value]="prior.id">
        {{prior.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <!-- Форма для выбора даты задачи -->
  <mat-form-field appearance="fill">
    <!-- Подпись -->
    <mat-label>Choose date</mat-label>
    <!-- Нажимаем на Input - DatePicker Open() -->
    <!-- если задача завершена - контрол не будет доступен -->
    <input [disabled]="task.completed != null && task.completed !== 0"
           matInput placeholder="Set deadline" #inputDate
           readonly

           [matDatepicker]="picker"
           [(ngModel)]="newDate"

           (click)="picker.open()">
    <!-- Иконка для открытия календаря -->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <!-- Сам календарь -->
    <mat-datepicker #picker></mat-datepicker>

    <!-- Кнопка очистки даты -->
    <button [disabled]="task.completed != null && task.completed !== 0"
            *ngIf="inputDate.value.trim().length > 0"
            mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="newDate = null" class="calendar-clear-icon">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <div class="row">
    <div class="col-12">
      <!-- если задача завершена - контролы не будут доступны -->
      <span class="ready-date" [ngClass]="{'disabled': task.completed}"
            (click)="!task.completed && setToday()">
      Today
      </span>
      <span class="ready-date" [ngClass]="{'disabled': task.completed}"
            (click)="!task.completed && addDays(1)">
      Tomorrow
      </span>

      <span class="ready-date" [ngClass]="{'disabled': task.completed}"
            (click)="!task.completed && addDays(2)">
      Day after tomorrow
      </span>

      <span class="ready-date" [ngClass]="{'disabled': task.completed}"
            (click)="!task.completed && addDays(7)">
      In a week
      </span>
    </div>
  </div>

  <div class="gap20"></div>

</mat-dialog-content>

<mat-dialog-actions>
  <div [ngClass]="{'text-center': isMobile, 'text-left': !isMobile}" class="col-md-6 col-12">
    <!-- Сохранить изменения -->
    <button
      mat-raised-button
      (click)="onConfirm()"
      [disabled]="inputTitle.value.trim().length == 0"
      class="purple"
      [ngClass]="{'col-xs-6': isMobile}"
    > <!-- Если пустое название - кнопка сохранить неактивная! -->
      Save
    </button>

    <!-- Отменить изменения (Закрыть) -->
    <button mat-raised-button mat-dialog-close
            (click)="cancel()"
            [ngClass]="{'col-xs-6': isMobile}">
      Close
    </button>
  </div>

  <!--  возможные операции над задачей -->
  <div class="col-md-6 col-12 text-right"
       *ngIf="canComplete || canDelete"
       [ngClass]="{'text-center': isMobile, 'text-right': !isMobile, 'pt-3': isMobile}">
    <!-- Выполнить задачу -->
    <button
      mat-raised-button
      (click)="complete()"
      class="green"
      *ngIf="canComplete && task && !task.completed; else elseBlock"
      [ngClass]="{'col-sm-12': isMobile}">
      Complete task
    </button>

    <ng-template #elseBlock>
      <button
        mat-raised-button
        *ngIf="canComplete && task && task.completed"
        (click)="notComplete()"
        [ngClass]="{'col-sm-12': isMobile}">
        Incomplete task
      </button>
    </ng-template>

    <!-- Удалить задачу -->
    <button
      mat-button
      *ngIf="canDelete"
      (click)="delete()"
      class="red"
      [ngClass]="{'pt-2': isMobile}">
      Delete task
    </button>
  </div>
</mat-dialog-actions>
