<mat-dialog-content>
  <p mat-dialog-title class="settings-title with-subtitle">Setting Priorities</p>
  <p class="little subtitle">* When changed - the color will immediately be displayed in the table</p>

  <!-- Priority list with colors -->
  <app-priorities
    (addPriority)="onAddPriority($event)"
    (deletePriority)="onDeletePriority($event)"
    (updatePriority)="onUpdatePriority($event)"
    [priorities]="priorities"
  ></app-priorities>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="purple" (click)="onClose()">Close</button>
</mat-dialog-actions>
