<!-- Sidebar (Hamburger Menu) -->
<ng-sidebar-container style="height: 100vh">

  <!-- Menu -->
  <ng-sidebar
    [opened]="menuOpened"
    [closeOnClickOutside]="false"
    [closeOnClickBackdrop]="true"
    [showBackdrop]="showBackdrop"
    [mode]="menuMode"
    [animate]="true"
    [position]="menuPosition"
    [autoFocus]="false"
    (onClosed)="onClosedMenu()"
  >

    <!-- Intro Instructions -->
    <div class="sidebar"
         data-color="purple"
         data-step="1"
         data-intro="Filter tasks by category. You can add/edit/delete a category"
         data-position="right"

    >

      <app-categories
        (addCategory)="addCategory($event)"
        (deleteCategory)="deleteCategory($event)"
        (searchCategory)="searchCategory($event)"
        (selectCategory)="selectCategory($event)"
        (updateCategory)="updateCategory($event)"


        [categories]="categories"
        [selectedCategory]="selectedCategory"
        [uncompletedCountForCategoryAll]="uncompletedCountForCategoryAll"
        [categorySearchValues]="categorySearchValues"

      ></app-categories>
    </div>

  </ng-sidebar>

  <!-- Menu  Content -->
  <div ng-sidebar-content>

    <div class="main-panel">
      <!-- Header (Navbar) -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <app-header
          [categoryName]="selectedCategory ? selectedCategory.title : 'All tasks'"
          (toggleStatistic)="toggleStatistic($event)"
          (toggleMenu)="toggleMenu()"
          [isShow]="showStatistic"
        ></app-header>
      </nav>

      <!-- Content -->
      <div class="content">
        <div class="container-fluid">
          <div
            data-color="purple"
            data-step="2"
            data-intro="Here is the statistics of all tasks. List of all tasks with the ability to add/edit/delete"
            data-position="bottom">

            <!-- Statistic -->
            <app-statistic
              [totalTasksInCategory]="totalTasksCountInCategory"
              [completeTasksInCategory]="completedCountInCategory"
              [uncompletedTasksInCategory]="uncompletedCountInCategory"
              [showStatistic]="showStatistic">
            </app-statistic>

          </div>

          <!-- Intro Instructions -->
          <div class="row">
            <div class="col-12">
              <!-- Tasks -->
              <app-tasks
                [tasks]="tasks"
                [priorities]="priorities"
                (addTask)="onAddTask($event)"
                (updateTask)="onUpdateTask($event)"
                (deleteTask)="onDeleteTask($event)"
                (selectCategory)="selectCategory($event)"

                [selectedCategory]="selectedCategory"
                (filterByStatus)="onFilterTasksByStatus($event)"
                (filterByTitle)="onSearchTasks($event)"
                (filterByPriority)="onFilterTasksByPriority($event)"
              >
              </app-tasks>

            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <app-footer></app-footer>

    </div>
  </div>
</ng-sidebar-container>
